PORT = # tu puerto

SECRET = #"miclavesecreta123"

DB_URI = #url db

# CLASE 3
JWT_SECRET = #secreto
JWT_REFRESH_TOKEN = #secretorefresh

# CLASE 4
GITHUB_CLIENT_ID = #Id_cliente Github
GITHUB_CLIENT_SECRET = #Id_cliente secreto Github
GITHUB_CALLBACK_URL = #"http://localhost:3000/api/auth/github/callback"